body{
    background-image: url('Rushi.jpg');
    
}


/*Center the form page*/
form{
    text-align: center;
    margin-left: 450px;
    margin-top: 150px;
    width: 500px;
    height: 400px;

    /*From Outline*/
    padding: 1em;
    border: 10px solid rgb(11, 11, 11);
    background-color: azure;
}
